
<div id="chatroom"></div>


<div id="load"></div>

<form id="new-msg-form" action="">
  <input id="id" type="hidden" name="id" value="<%=@user_id%>">
  <label for="new-message"></label>
  <input type="hidden" name="user_id" value= "<%= @user_id %>" >
  <input id="new-message" type="text" name="new-message">
  <button id="send" type="submit">Send</button>
</form>

<div id="load-below"></div>

<div id="users">
  
</div>