<script src="/js/app.js" type="text/javascript"></script>


<% if @user.admin == true %>
  <style>
  .redx {display: inline;}
  </style>
<% end %>

<div class="row">

  <div class="col-sm-2">
    <h4 id="active">Active users:</h4>
    <div id="users">
    </div>
  </div>

  <div class="col-sm-10">

    <input type="hidden" name="_method" value="delete">
    <div id="chatroom"><div id="load"></div></div>

    <form id="new-msg-form" action="">
      <input id="id" type="hidden" name="id" value="<%=@user_id%>">
      <label for="new-message"></label>
      <input type="hidden" name="user_id" value= "<%= @user_id %>" >
      <input id="new-message" type="text" name="new-message">
      <button id="send" type="submit">Send</button>
    </form>

    <div id="load-below"></div>

  </div>
</div>

<a class="redx" href="/admin">Admin Page</a>
