<div id="chatroom">


  <ul>
    <li id="name"></li>
    <li id="timestamp"></li>
    <li id="content"></li>
    <hr>
  </ul>
</div>

<div id="load"></div>

<form id="new-msg-form" action="">
  <label for="new-message"></label>
  <input id="new-message" type="text" name="new-message">
  <button id="send" type="submit">Send</button>
</form>

<div id="load-below"></div>