<% @messages.each do |message| %>
  <p><%= User.find(message.user_id).name %><%= message.created_at %><%= message.content %></p>
<% end %>

<form action="/chat/<%= @user_id %>/messages/new" method="post">
  <label for="new-message"></label>
  <input type="text" name="new-message">
  <button type="submit">Send</button>
</form>

<a href="/">Logout</a>
