<div id="chatroom">

</div>

<form action="/chat/messages/new" method="post">
  <label for="new-message"></label>
  <input type="text" name="new-message">
  <button type="submit">Send</button>
</form>
