<form action="/login" method="post">
  <label for="username">User Name</label>
  <input name="username" type="text" required>
  <label for="password">User Password</label>
  <input name="password" type="text" required>
  <button type="submit">Login</button>
</form>


<a href="/signup">Create New Account</a>
