<form>
  <label for="user-name">User Name</label>
  <input name="user-name" required>
  <label for="user-password">User Password</label>
  <input name="user-password" required>
  <button type="submit">Login</button>
</form>




