<form action="/login" method="post">
  <label for="username">User Name</label>
  <input name="username" type="text" required>
  <label for="password">User Password</label>
  <input name="password" type="password" required>
  <button type="submit" class="btn btn-info">Login</button>
</form>
