<img id="ruby-img" src="/img/ruby-img.png" alt="">
<h1 id="title">The Ruby Room</h1>


<div class="login-wrapper">
  <form action="/login" method="post">
    <label for="username">User Name</label>
    <input name="username" type="text" required>
    <label for="password">User Password</label>
    <input name="password" type="password" required>
    <br>
    <button type="submit"><strong>Login</strong></button>
  </form>
  <br><br><br>
  <a href="/signup">Create New Account</a>
  <br>
  <a href="/signout">Sign Out</a>
</div>
