<form action="/user/:id" method="get">
  <label for="user-name">User Name</label>
  <input name="user-name" type="text" required>
  <label for="user-password">User Password</label>
  <input name="user-password" type="text" required>
  <button type="submit">Login</button>
</form>




