<div class="login-wrapper">
  <form action="/signup" method="post">
    <label for="username">Please enter your new username:</label>
    <input type="text" name="username" required>
    <label for="password">Please enter your new password:</label>
    <input type="text" name="password" required>
    <input type="checkbox" name='agree' value="agree" required>
    <em>I have read the <a href="#" onclick="termsModal();">terms of service</a></em>
    <br>
    <br>
    <button type="submit">Sign Up</button>
  </form>
</div>
