<div class="row">
  <div class="col-xs-2">
    <% if @user.profile_picture != nil %>
      <img class="profile-picture" src="<%= @user.profile_picture %>" alt="">
    <% else %>
      <img class="profile-picture" src="/img/no-profile-picture.jpg" alt="">
    <% end %>
  </div>
  <div class="col-sm-8">
    <% if @user.about_me != nil %>
      <h4><%= @user.about_me %></h4>
    <% else %>
      <h4><em>No discription available</em></h4>
    <% end %>
  </div>
</div>
<h2><%= @user.username %></h2>

<div class="row">

  <div class="col-md-6">
    <ul style="padding:0;">
      <li><a href="/user/profile">Edit Profile</a></li>
      <li><a href="/user/edit">Edit Account</a></li>
      <li><a href="/user/delete">Delete Account</a></li>
      <li><a class="red-button" href="/chat/"><h3>Enter Ruby Room</h3></a></li>
    </ul>
  </div>

</div>
