<h2><%= @user.username %></h2>

<div class="row">

  <div class="col-md-6">
    <ul style="padding:0;">
      <li><a href="/user/profile">Edit Profile</a></li>
      <li><a href="/user/edit">Edit Account</a></li>
      <li><a href="/user/delete">Delete Account</a></li>
      <li><a class="red-button" href="/chat/"><h3>Enter Ruby Room</h3></a></li>
    </ul>
  </div>

</div>
