/* ruby dark color 932a2a*/
/* ruby light color #ed4545*/
/*complimentary blue #1485CC*/
/*complimentary darker blue #0971B2*/

/*-----------------------------------GLOBALS*/
/*-----------------------------------GLOBALS*/
/*-----------------------------------GLOBALS*/
body {
  /*color?*/
}
.nav {
  width: 100%;
  background-color: #F4F4F8;
  padding: 8px 0;
}
.nav-contents {
  float: right;
}
.nav-contents a {
  float: right;
  color: inherit;
  margin-left: 1em;
}
.ruby {
  color: #932a2a;
}
.red {
  color: #ed4545;
}
.redx {
  color: red;
  display: none;
}
.ruby:hover {
  color: #932a2a;
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
.blue-button {
  color: #1485CC;
}
.red-button {
  color: #ed4545;
  border-radius: 4px;
}
.blue-button:hover {
  color: #1485CC;
}
.red-button:hover {
  color: #ed4545;
}
#footer {
  text-align: center;
}
#footer p a {
  font-size: 1.15em;
}


/*--------------------------------INDEX STYLES*/
/*--------------------------------INDEX STYLES*/
/*--------------------------------INDEX STYLES*/

#ruby-img {
  margin: auto;
  display: block;
}
#title, #footer p a {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: rgb(147, 42, 42);
}
.login-wrapper {
  margin: 2em 0;
  width: 100%;
  text-align: center;
}
.login-wrapper form {
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  background-color: #F4F4F8;
  padding: 1em;
}
.login-wrapper input,
.login-wrapper button,
.login-wrapper label {
  display: block;
  margin: 5px 0;
  width: 300px;

}
.login-wrapper button,
.login-wrapper input {
  background-color: white;
  border: solid 1px #777;
  border-radius: 3px;
}
.login-wrapper input {
  border: solid 1px #E6E6EA;
}
input[type='checkbox'] {
  display: inline;
  width: auto;
  margin-right: 4px;
}

/*-------------------------CHATROOM STYLES*/
/*-------------------------CHATROOM STYLES*/
/*-------------------------CHATROOM STYLES*/

#chatroom {
  border: solid 1px #E6E6EA;
  height: 450px;
  margin: 0 0 2em 0;
  padding: 6px;
  font-family: 'Nunito', sans-serif;
  overflow: scroll;
  background-color: white;
}
#active {
  color: #932a2a;
}
#send {
  background-color: white;
  border: solid 1px #777;
  padding: 2px 4px;
}
#new-msg-form input {
  padding: 2px;
}
#users {
  color: #1485CC;
}
.name-span {
  color: #ed4545;
}
.time-span {
  color: #777;
}
#user-modal,
#terms-modal {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  color: white;
}
#user-modal-content,
#terms-modal-content {
  max-width: 600px;
  width: 90%;
  display: block;
  margin: 100px auto 0 auto;
  text-align: center;
}
#user-modal-image-div,
#user-modal-name-div,
#user-modal-about-div {
  display: block;
}
#user-modal-name-div {
  font-size: 2em;
}
#terms-modal {
  overflow: scroll;
  padding-bottom: 200px;
}
#terms-modal-content {
  text-align: left;
}

/*-------------------------USER PAGE STYLES*/
/*-------------------------USER PAGE STYLES*/
/*-------------------------USER PAGE STYLES*/
.user-wrapper {
  text-align: left;
}
#delete-button {
  color: #ed4545;
  border: solid 1px #ed4545;
}
.profile-picture-wrapper {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
}
ol.terms-list {
  margin: 20px 0;
  list-style-type: circle;
}

/* ----------------------LOADER ANIMATION*/
/* ----------------------LOADER ANIMATION*/
/* ----------------------LOADER ANIMATION*/
div#load {
  position: relative;
}
div#load-below {
  width: 50px;
  height: 50px;
  position: relative;
}
